<html xmlns:th="http://www.thymeleaf.org">
<head>
<!-- <link rel="stylesheet" th:href="@{/css/main.css}"/> -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<meta charset="utf-8">
<title>Animal</title>
</head>
<body class="container">
	<nav class="sticky-top navbar navbar-expand-lg bg-body-tertiary">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/person">Peronne</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/animal">Animal</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/species">Species</a>
        </li>
      </ul>
	</nav>
	<h1 class="text-center">Créer un Animal</h1>
	<form th:object="${animal}" th:action="@{/animal}" method="post">
		<input type="hidden" th:field="*{id}"/>
		<div class="mb-3">
			<label class="form-label" for="name">Name : </label>
			<input class="form-control" type="text" th:field="*{name}" id="name"/>
			<span class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Error</span>
		</div>
		<div class="mb-3">
			<label class="form-label" for="sex">Sex : </label>
			<input class="form-control" type="text" th:field="*{sex}" id="sex"/>
			<span class="text-danger" th:if="${#fields.hasErrors('sex')}" th:errors="*{sex}">Error</span>
		</div>
		<div class="mb-3">
			<label class="form-label" for="age">Color : </label>
			<input class="form-control" type="text" th:field="*{color}" id="color"/>
			<span class="text-danger" th:if="${#fields.hasErrors('color')}" th:errors="*{color}">Error</span>
		</div>
		<div class="mb-3">
			<label class="form-label" for="species">Espèce :</label>
			<select class="form-select" th:field="*{species}" id="species">
				<option th:each="sp:${species}" th:value="${sp.getId()}" th:text="${sp.getCommonName}"></optio>
			</select>
		</div>
		<div class="mb-3">
			<input type="submit" class="button btn btn-success" value="Sauver"/>
			<input type="button" class="button btn btn-warning" value="Retour" onclick="window.location='/animal'"/>
		</div>
	</form>
</body>