<html xmlns:th="http://www.thymeleaf.org">
<head>
<!-- <link rel="stylesheet" th:href="@{/css/main.css}"/> -->
<meta charset="utf-8">
<title>Personne</title>
</head>
<body>
	<h1>Mise à jour d'une Personne</h1>
	<form th:object="${updatePerson}" th:action="@{/person}" method="post">
		<input type="hidden" th:field="*{id}"/>
		<div>
			<label for="firstname">First name : </label>
			<input type="text" th:field="*{firstname}" id="firstname"/>
		</div>
		<div>
			<label for="lasttname">Last name : </label>
			<input type="text" th:field="*{lastname}" id="lastname"/>
		</div>
		<div>
			<label for="age">Age : </label>
			<input type="text" th:field="*{age}" id="age"/>
		</div>
		<div>
			<label for="animals">Animaux :</label>
			<select multiple th:field="*{animals}" id="animals">
				<option th:each="an:${animals}" th:value="${an.getId()}" th:text="${an.getName}"></optio>
			</select>
		</div>
		<div>
			<input type="submit" class="button" value="Sauver"/>
			<input type="button" class="button" value="Retour" onclick="window.location='/person'"/>
		</div>
	</form>
</body>