<html xmlns:th="http://www.thymeleaf.org">
<head>
<!-- <link rel="stylesheet" th:href="@{/css/main.css}"/> -->
<meta charset="utf-8">
<title>Personne</title>
</head>
<body>
	<h1>Liste des Personnes</h1>
	<button type="button" onclick="window.location='/person/create'">➕ Ajouter une Personne</button>
	<table class="mainTable">
		<thead>
			<tr>
				<th>Id</th>
				<th>First name</th>
				<th>Last name</th>
				<th>Age</th>
				<th>Update</th>
				<th>Delete</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="personItem : ${persons}">
				<td th:text="${personItem.getId()}"/>
				<td th:text="${personItem.getFirstname()}"/>
				<td th:text="${personItem.getLastname()}"/>
				<td th:text="${personItem.getAge()}"/>
				<td><a th:href="@{'/person/update/' + ${personItem.getId()}}">Update</a></td>
				<td><a th:href="@{'/person/delete/' + ${personItem.id}} "onclick="return confirm('Êtes-vous sûr ?')">Delete</a></td>
			</tr>
		</tbody>
	</table>
</body>
