<html xmlns:th="http://www.thymeleaf.org">
<head>
<!-- <link rel="stylesheet" th:href="@{/css/main.css}"/> -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<meta charset="utf-8">
<title>Personne</title>
</head>
<body class="container">
	<h1 class="text-center">Créer une Personne</h1>
	<form th:object="${newPerson}" th:action="@{/person}" method="post">
		<input type="hidden" th:field="*{id}"/>
		<div class="mb-3">
			<label class="form-label" for="firstname">First name : </label>
			<input class="form-control" type="text" th:field="*{firstname}" id="firstname"/>
		</div>
		<div class="mb-3">
			<label class="form-label" for="lasttname">Last name : </label>
			<input class="form-control" type="text" th:field="*{lastname}" id="lastname"/>
		</div>
		<div class="mb-3">
			<label class="form-label" for="age">Age : </label>
			<input class="form-control" type="text" th:field="*{age}" id="age"/>
		</div>
		<div class="mb-3">
			<label class="form-label" for="animals">Animaux :</label>
			<select class="form-select" multiple th:field="*{animals}" id="animals">
				<option th:each="an:${animals}" th:value="${an.getId()}" th:text="${an.getName}"></optio>
			</select>
		</div>
		<div class="mb-3">
			<input type="submit" class="button btn btn-success" value="Sauver"/>
			<input type="button" class="button btn btn-warning" value="Retour" onclick="window.location='/person'"/>
		</div>
	</form>
</body>